<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%=dogtoy.name%> Reviews </title>
  </head>
  <body>
    <h3> <%=dogtoy.name%> </h3>
    <h4> Brand: <%=dogtoy.brand%> </h4>
    <img src="<%=dogtoy.img%>" alt="Image of <%=dogtoy.name%>">

    <p>Reviews for <%=dogtoy.name%>: </p>

    <a href="/ratethis/review">Add Review</a>
    <a href="/ratethis">Back to Main</a>
  </body>
</html>
